body {
    background-color: rgb(197, 122, 216);
}

.cabecalho {
    background-color: black;
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

#titulo {}

p {
    font-size: 25px;
}

.imgcentro {
    align-items: center;

}

nav {}

li {
    
}

li a {
    font-size: 25px;

}

button {
    font-size: 16px;
    color: rgb(255, 0, 132);

}